version: "3.9"

services:
  api:
    build:
      context: .
      target: production
    container_name: np-api
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=appdb
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: np-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:

